*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--open-sans);
}

:root{
    --Purple_700: hsl(257, 40%, 49%);
    --Magenta_400: hsl(300, 69%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);


    --poppins: 'Poppins', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
}

/* Fundo */
body{
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-color: var(--Purple_700);
}


/* Header */
header{
    padding: 35px 40px;
}

#logo{
    width: 47%;
}


/* Main */
main{
    padding: 0px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main > img{
    width: 100%;
    margin: 20px 0px;
}

main h2{
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--white);
    text-align: center;
}

main p{
    font-family: var(--open-sans);
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--white);
    text-align: center;
    margin-top: 20px;
}

/* Button */
button{ 
    width: 80%;
    height: 50px;
    background-color: var(--white);
    border: none;
    border-radius: 30px;
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 1rem;
    color: var(--Purple_700);
    cursor: pointer;
    margin: 25px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#icons{
    display: flex;
    justify-content: center;
    gap: 15px;
    color: var(--white);
}

.icon{
    width: 30px;
}
